{% extends "base.html" %}
{% block title %}
        añadir sector
{% endblock %}
{% block content %}
<style>
            html {
                background: #0b0b0b url(/static/img/5.jpg) fixed no-repeat;
                background-size: 1px 30px;
                 background-size: 100% 100%;
            } 
        </style>
      <table width="400"  align="center" cellspacing="2" cellpadding="3" border="10" bgcolor="#1E679A"> 
          <tr> 
             <td><font color="#FFFFFF" face="arial, verdana, helvetica">
<center><h1>Nuevo sector</h1>

    <form method="post" action="{{ url_for('addsec2') }}">
          <p>Ingrese nombre del sector</p>
          <p><input name="ubicacion" type="text" placeholder="Nombre sector" required></p>
          <p><input type="submit" value="Añadir">
          <input type="button" value="Salir"onclick="location.href='http://localhost:3000'" ></p>
    </form> </center>
</font></td> 
</tr>  


{% endblock %}