{% extends "base.html" %}
{% block title %}
        Eliminar a un Persona de la Base
{% endblock %}
{% block content %}
<style>
        html {
            background: #0b0b0b url(/static/img/6.jpg) fixed no-repeat;
            background-size: 1px 30px;
             background-size: 100% 100%;
        } 
    </style>

<center><h1 style="color:ghostwhite">Ingrese Apodo y Clave para eliminar </h1>
    <form method="POST" action="eliminarP">
        <input type="text" value="{{ user.apodo }}" name="apodo">
    <input type="submit" value="eliminar">
    <input type="button" value="Volver" onclick="location.href='http://localhost:3000'">
</form>
</center>
{% endblock %}