{% extends "base.html" %}
{% block title %}
    Este es el html de Index
{% endblock %}
{% block content %}
    <style>
        html {
            background: #0b0b0b url(/static/img/1.jpg) fixed no-repeat;
            background-size: 1px 30px;
             background-size: 100% 100%;
        } 
    </style>
    <body>
   <center><font color="#color:hsla(0,100%,50%,1)"><h1>DeepDataBase</h1></font>
    <form method="get" action="{{ url_for('search') }}">

    <p><input type="text" name="nickname"></p>
    <input type="submit" value="Buscar" >
    <input type="button" value="Agregar" onclick="location.href='http://localhost:3000/signup'">
    <input type="button" value="Buscar" onclick="location.href='http://localhost:3000/login'">
    </form></center>
    <font color="#color:white">
    <h3> ¿QUÉ ES DEEP DATA BASE?</h3> 
   
<h4>Deep Data Base es un página web de nuestra red clandestina,<br>
     en la cual podras vender, comprar y buscar <br>
     todo tipo de articulos sin importar su procedencia o legalidad.</h4>
</font>
</body>

{% endblock %}