{% extends "base.html" %}
{% block title %}
    Informacion sector {{ place.ubicacion }}
{% endblock %}
{% block content %}
<style>
    html {
        background: #0b0b0b url(/static/img/5.jpg) fixed no-repeat;
        background-size: 1px 30px;
         background-size: 100% 100%;
    } 
</style>
<table width="400"  align="center" cellspacing="2" cellpadding="3" border="10" bgcolor="#1E679A"> 
  <tr> 
     <td><font color="#FFFFFF" face="arial, verdana, helvetica">
    <center><h1>Sector {{ place.ubicacion }} </h1> 

      <p>Numero del sector: {{ place.numero }}<br/>
      Nombre del sector: {{ place.ubicacion}}<br/>
      <h5>Policias del sector: </h5>
      {% for poli in police %}
      <p> Nombre: {{ poli.nombre }} - Placa: {{ poli.placa }} - Fecha de ultimo soborno: {{ poli.soborno }}</br> </p>
      {% endfor %}
      <p>

      <form method="post" action="{{ url_for('addcop') }}">
            <p>Ingrese nombre del policia</p>
            <p><input name="name_cop" type="text" placeholder="Nombre" required></p>
            <p>Ingrese placa del policia</p>
            <p><input name="placa_cop" type="number" required></p>
            <p>Ingrese ultimo soborno cop</p>
            <p><input name="soborno_cop" type="text" placeholder="15 de febrero" required></p>
            <p>Ingrese numero del sector del policia</p>
            <p><input name="sector_cop" type="number" required></p>
            <p><input type="submit" value="Añadir">
            <input type="button" value="Salir"onclick="location.href='http://localhost:3000'" ></p>
      </form>
    </center>
</font></td> 
</tr>  

{% endblock %}