{% extends "base.html" %}
{% block title %}
        Usuarios
{% endblock %}
{% block content %}
<style>
    html {
        background: #0b0b0b url(/static/img/5.jpg) fixed no-repeat;
        background-size: 1px 30px;
         background-size: 100% 100%;
    } 
</style>
<table width="400"  align="center" cellspacing="2" cellpadding="3" border="10" bgcolor="#1E679A"> 
  <tr> 
     <td><font color="#FFFFFF" face="arial, verdana, helvetica">
            <center><h1>Usuarios</h1>

                <form method="get" action="{{ url_for('search') }}">
                    {% for usuario in user %}
                    <p align="center" >Usuario: {{ usuario.apodo }} - contacto: {{ usuario.contacto }} - natividad: {{ usuario.nativo }} - cuenta: {{ usuario.id_c }}</br></p>
                    {% endfor %}
              
                    <p><input type="text" name="buscar_user" placeholder="Buscar usuario por apodo" ></p>
                    <input type="submit" value="Buscar usuario" onclick="">
                    <input type="button" value="Volver"onclick="location.href='http://localhost:3000'">
                    <br>
 </center>
         </font></td> 
      </tr>  

  </form>

</center>
</font></td> 
</tr>  
{% endblock %}
